@charset "utf-8";
#boxcontent{
	width: 400px;
	margin-left: 50px;
	margin-right: 30px;
	margin-bottom: 50px;
	padding: 12px;
	float: left;
	display: block;
	text-align: center;
	background-color: rgba(242,106,68,0.7);
	border-radius: 50px;
}

div#boxcontent p{
	font-size: 20px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}

div#boxcontent h1{
	font-size: 40px;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	border-bottom: double;
	background-color:rgba(247,219,105,1.00);
	display: block;
	border-radius: 20px;
}

#picturecontent {
	width: auto;
	display: inline-block;
	overflow: hidden;
	padding: 10px;
	background-color: rgba(46,149,152,0.7);
	border-radius: 50px;
}

div#picturecontent h1{
	padding-left: 30px;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	background-color: rgba(247,219,105,1.00);
	border-radius: 20px;
}

div#picturecontent img{
	padding: 10px;
	border-radius: 20px;
}
