@charset "utf-8";
#navigation{
	margin: auto;
	width: 100%;
	
}

#headertitle{
	font-size: 20px;
	padding-left: 50px;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	color: #EC1B4B;
	margin-top: 10px;
	margin-bottom: -25px;
}

nav ul{
	padding: 8px;
	text-align: center;
	color: white;
	background:rgba(168,33,107,1.00);
	position: relative;
}

nav ul li {
	font-size: 22px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	display: inline-block;
	padding: 10px 100px 10px 100px;
}

nav ul li a{
	text-decoration: none;
	color: white;
}

nav li ul{
	display: none;
}

nav li:hover ul {
	display: block;
	position: absolute;
}

nav li:hover ul li{
	
	font-size: 21px;
	padding: 12px;
	text-decoration: none;
	margin: auto;
	display: flex;
}

nav li:hover ul li a{
	color: black;
}

nav li:hover{
	background-color:gold;
}

footer {
	color: white;
    background-color: rgba(168,33,107,1.00);
    position: relative;
  	right: 0;
  	bottom: 0;
  	left: 0;
	margin-top: 40px;
}

footer h1{
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	margin-left: 10px;
	float: left;
}

footer p{
	padding-left: 150px;
	font-size: 17px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	margin-right: 10px;
	display: block;
	text-align: right;
}
